pkgbase = system-config
	pkgdesc = System configurations
	pkgver = 233
	pkgrel = 1
	url = https://sr.ht/~tardypad/arch-system
	install = system-config.install
	arch = any
	groups = tardypad
	license = custom
	backup = etc/NetworkManager/system-connections/Chestnut
	backup = etc/pacman.d/chestnut

pkgname = system-config
	depends = base
	depends = linux
	depends = linux-firmware
	depends = efibootmgr
	depends = grub
	depends = intel-ucode
	depends = aerc
	depends = aria2
	depends = bat
	depends = bemenu-wayland
	depends = bluez-tools
	depends = bluez-utils
	depends = catimg
	depends = ctags
	depends = curl
	depends = entr
	depends = fontconfig
	depends = foot
	depends = fzf
	depends = gammastep
	depends = git
	depends = git-delta
	depends = gnupg
	depends = grim
	depends = htop
	depends = httpie
	depends = i3blocks
	depends = imagemagick
	depends = imv
	depends = isync
	depends = jq
	depends = khard
	depends = less
	depends = libpulse
	depends = libqalculate
	depends = libxml2
	depends = light
	depends = mako
	depends = mitmproxy
	depends = mpc
	depends = mpd
	depends = mpv
	depends = networkmanager
	depends = opendoas
	depends = openssh
	depends = otf-font-awesome
	depends = pass
	depends = pulsemixer
	depends = pv
	depends = qrencode
	depends = qutebrowser
	depends = remind
	depends = ripgrep
	depends = rsync
	depends = scdoc
	depends = sfeed
	depends = slurp
	depends = sway
	depends = swaybg
	depends = swayidle
	depends = swaylock
	depends = tmux
	depends = tmux-xpanes
	depends = translate-shell
	depends = vdirsyncer
	depends = vim
	depends = w3m
	depends = weechat
	depends = wf-recorder
	depends = wl-clipboard
	depends = xdg-utils
	depends = ydotool
	depends = yubikey-manager
	depends = zathura
	depends = zsh
	depends = fzf-tab-git
	depends = vim-ale
	depends = vim-go
	depends = vim-goyo-git
	depends = vim-gutentags-git
	depends = vim-nerdcommenter
	depends = vim-oscyank-git
	depends = vim-repeat
	depends = vim-sayonara-git
	depends = vim-surround
	depends = vim-taboo-git
	depends = vim-tagbar
	depends = vim-tmux-navigator-git
	depends = vim-ultisnips
	depends = vim-undotree
	depends = vim-unicode-git
	depends = weechat-vimode-git
	depends = zathura-cb
	depends = zathura-pdf-mupdf
	depends = zsh-autosuggestions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	depends = bluez
	depends = cryptsetup
	depends = device-mapper
	depends = dosfstools
	depends = e2fsprogs
	depends = logrotate
	depends = lvm2
	depends = lxd
	depends = man-db
	depends = man-pages
	depends = ntfs-3g
	depends = pipewire-pulse
	depends = s-nail
	depends = usbutils
	depends = inetutils
	depends = ldns
	depends = mtr
	depends = nmap
	depends = speedtest-cli
	depends = termshark
	depends = wireguard-tools
	depends = autoconf
	depends = automake
	depends = bash-bats
	depends = bison
	depends = diffutils
	depends = fakeroot
	depends = gcc
	depends = go
	depends = gopls
	depends = make
	depends = meson
	depends = ninja
	depends = patch
	depends = pkgconf
	depends = shellcheck-bin
	depends = which
	depends = wayland-protocols
	depends = chromium
	depends = firefox
	depends = gimp
	depends = inkscape
	depends = libreoffice-fresh
	depends = xorg-xwayland
	depends = asciinema
	depends = asciitosvg-git
	depends = bc
	depends = dotfiles-git
	depends = fd
	depends = go-yq
	depends = gron-bin
	depends = hyperfine
	depends = ncdu
	depends = oath-toolkit
	depends = pacman-contrib
	depends = python-adblock
	depends = qpdf
	depends = tree
	depends = vi
	depends = yt-dlp
	depends = adobe-source-code-pro-fonts
	depends = adobe-source-sans-fonts
	depends = adobe-source-serif-fonts
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = wireplumber
	depends = xdg-desktop-portal-wlr
	depends = lzip
	depends = p7zip
	depends = unrar
	depends = unzip
	depends = zip
	depends = perl-authen-sasl
	depends = perl-net-smtp-ssl
	depends = perl-mime-tools
