pkgbase = system-config
	pkgdesc = System configurations
	pkgver = 181
	pkgrel = 1
	url = https://github.com/tardypad/arch-packages
	install = system-config.install
	arch = any
	license = custom
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gammastep
	depends = gawk
	depends = gcc
	depends = gettext
	depends = grep
	depends = groff
	depends = gzip
	depends = libtool
	depends = m4
	depends = make
	depends = pacman
	depends = patch
	depends = pkgconf
	depends = sed
	depends = sudo
	depends = texinfo
	depends = which
	depends = adobe-source-code-pro-fonts
	depends = adobe-source-sans-fonts
	depends = adobe-source-serif-fonts
	depends = aerc
	depends = amfora
	depends = aria2
	depends = asciinema
	depends = asciitosvg-git
	depends = bash-bats
	depends = bc
	depends = bemenu-wayland
	depends = bluez
	depends = bluez-tools
	depends = bluez-utils
	depends = catimg
	depends = chromium
	depends = cryptsetup
	depends = ctags
	depends = curl
	depends = device-mapper
	depends = diffutils
	depends = dosfstools
	depends = e2fsprogs
	depends = entr
	depends = fd
	depends = firefox
	depends = foot
	depends = fzf
	depends = gimp
	depends = git
	depends = gmni-git
	depends = go
	depends = go-yq
	depends = gopls
	depends = grim
	depends = gron-bin
	depends = gst-plugins-bad
	depends = htop
	depends = httpie
	depends = hyperfine
	depends = i3blocks
	depends = imagemagick
	depends = imv
	depends = inetutils
	depends = inkscape
	depends = jq
	depends = khard
	depends = ldns
	depends = less
	depends = libpipewire02
	depends = libqalculate
	depends = libreoffice-fresh
	depends = libxml2
	depends = light
	depends = logrotate
	depends = lvm2
	depends = mako
	depends = man-db
	depends = man-pages
	depends = meson
	depends = mitmproxy
	depends = mpc
	depends = mpd
	depends = mpv
	depends = mtools
	depends = ncdu
	depends = networkmanager
	depends = ninja
	depends = nmap
	depends = ntfs-3g
	depends = oath-toolkit
	depends = openssh
	depends = otf-font-awesome
	depends = p7zip
	depends = pacman-contrib
	depends = pass
	depends = perl-authen-sasl
	depends = perl-net-smtp-ssl
	depends = perl-mime-tools
	depends = pipewire-media-session
	depends = pipewire-pulse
	depends = pulsemixer
	depends = pv
	depends = python-adblock
	depends = qutebrowser
	depends = remind
	depends = ripgrep
	depends = rsync
	depends = scdoc
	depends = sfeed
	depends = shellcheck-bin
	depends = slurp
	depends = s-nail
	depends = speedtest-cli
	depends = sudo
	depends = sway
	depends = swayidle
	depends = swaylock
	depends = syslinux
	depends = termshark
	depends = tmux
	depends = tmux-xpanes
	depends = translate-shell
	depends = tree
	depends = unrar
	depends = unzip
	depends = usbutils
	depends = vi
	depends = vim
	depends = vim-ale
	depends = vim-go
	depends = vim-goyo-git
	depends = vim-gutentags-git
	depends = vim-nerdcommenter
	depends = vim-oscyank-git
	depends = vim-repeat
	depends = vim-sayonara-git
	depends = vim-surround
	depends = vim-taboo-git
	depends = vim-tagbar
	depends = vim-tmux-navigator-git
	depends = vim-ultisnips
	depends = vim-undotree
	depends = w3m
	depends = weechat
	depends = weechat-vimode-git
	depends = weechat-wee-most-git
	depends = wf-recorder
	depends = wl-clipboard
	depends = xdg-desktop-portal-wlr
	depends = xdg-utils
	depends = xorg-xwayland
	depends = ydotool
	depends = yt-dlp
	depends = yubikey-manager
	depends = zathura
	depends = zathura-cb
	depends = zathura-pdf-mupdf
	depends = zip
	depends = zsh
	depends = zsh-autosuggestions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	provides = system-config
	conflicts = system-config
	replaces = system-config

pkgname = system-config-light
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gammastep
	depends = gawk
	depends = gcc
	depends = gettext
	depends = grep
	depends = groff
	depends = gzip
	depends = libtool
	depends = m4
	depends = make
	depends = pacman
	depends = patch
	depends = pkgconf
	depends = sed
	depends = sudo
	depends = texinfo
	depends = which
	depends = adobe-source-code-pro-fonts
	depends = adobe-source-sans-fonts
	depends = adobe-source-serif-fonts
	depends = aerc
	depends = amfora
	depends = aria2
	depends = asciinema
	depends = asciitosvg-git
	depends = bash-bats
	depends = bc
	depends = bemenu-wayland
	depends = bluez
	depends = bluez-tools
	depends = bluez-utils
	depends = catimg
	depends = chromium
	depends = cryptsetup
	depends = ctags
	depends = curl
	depends = device-mapper
	depends = diffutils
	depends = dosfstools
	depends = e2fsprogs
	depends = entr
	depends = fd
	depends = firefox
	depends = foot
	depends = fzf
	depends = gimp
	depends = git
	depends = gmni-git
	depends = go
	depends = go-yq
	depends = gopls
	depends = grim
	depends = gron-bin
	depends = gst-plugins-bad
	depends = htop
	depends = httpie
	depends = hyperfine
	depends = i3blocks
	depends = imagemagick
	depends = imv
	depends = inetutils
	depends = inkscape
	depends = jq
	depends = khard
	depends = ldns
	depends = less
	depends = libpipewire02
	depends = libqalculate
	depends = libreoffice-fresh
	depends = libxml2
	depends = light
	depends = logrotate
	depends = lvm2
	depends = mako
	depends = man-db
	depends = man-pages
	depends = meson
	depends = mitmproxy
	depends = mpc
	depends = mpd
	depends = mpv
	depends = mtools
	depends = ncdu
	depends = networkmanager
	depends = ninja
	depends = nmap
	depends = ntfs-3g
	depends = oath-toolkit
	depends = openssh
	depends = otf-font-awesome
	depends = p7zip
	depends = pacman-contrib
	depends = pass
	depends = perl-authen-sasl
	depends = perl-net-smtp-ssl
	depends = perl-mime-tools
	depends = pipewire-media-session
	depends = pipewire-pulse
	depends = pulsemixer
	depends = pv
	depends = python-adblock
	depends = qutebrowser
	depends = remind
	depends = ripgrep
	depends = rsync
	depends = scdoc
	depends = sfeed
	depends = shellcheck-bin
	depends = slurp
	depends = s-nail
	depends = speedtest-cli
	depends = sudo
	depends = sway
	depends = swayidle
	depends = swaylock
	depends = syslinux
	depends = termshark
	depends = tmux
	depends = tmux-xpanes
	depends = translate-shell
	depends = tree
	depends = unrar
	depends = unzip
	depends = usbutils
	depends = vi
	depends = vim
	depends = vim-ale
	depends = vim-go
	depends = vim-goyo-git
	depends = vim-gutentags-git
	depends = vim-nerdcommenter
	depends = vim-oscyank-git
	depends = vim-repeat
	depends = vim-sayonara-git
	depends = vim-surround
	depends = vim-taboo-git
	depends = vim-tagbar
	depends = vim-tmux-navigator-git
	depends = vim-ultisnips
	depends = vim-undotree
	depends = w3m
	depends = weechat
	depends = weechat-vimode-git
	depends = weechat-wee-most-git
	depends = wf-recorder
	depends = wl-clipboard
	depends = xdg-desktop-portal-wlr
	depends = xdg-utils
	depends = xorg-xwayland
	depends = ydotool
	depends = yt-dlp
	depends = yubikey-manager
	depends = zathura
	depends = zathura-cb
	depends = zathura-pdf-mupdf
	depends = zip
	depends = zsh
	depends = zsh-autosuggestions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	depends = dotfiles-light-git

pkgname = system-config-dark
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gammastep
	depends = gawk
	depends = gcc
	depends = gettext
	depends = grep
	depends = groff
	depends = gzip
	depends = libtool
	depends = m4
	depends = make
	depends = pacman
	depends = patch
	depends = pkgconf
	depends = sed
	depends = sudo
	depends = texinfo
	depends = which
	depends = adobe-source-code-pro-fonts
	depends = adobe-source-sans-fonts
	depends = adobe-source-serif-fonts
	depends = aerc
	depends = amfora
	depends = aria2
	depends = asciinema
	depends = asciitosvg-git
	depends = bash-bats
	depends = bc
	depends = bemenu-wayland
	depends = bluez
	depends = bluez-tools
	depends = bluez-utils
	depends = catimg
	depends = chromium
	depends = cryptsetup
	depends = ctags
	depends = curl
	depends = device-mapper
	depends = diffutils
	depends = dosfstools
	depends = e2fsprogs
	depends = entr
	depends = fd
	depends = firefox
	depends = foot
	depends = fzf
	depends = gimp
	depends = git
	depends = gmni-git
	depends = go
	depends = go-yq
	depends = gopls
	depends = grim
	depends = gron-bin
	depends = gst-plugins-bad
	depends = htop
	depends = httpie
	depends = hyperfine
	depends = i3blocks
	depends = imagemagick
	depends = imv
	depends = inetutils
	depends = inkscape
	depends = jq
	depends = khard
	depends = ldns
	depends = less
	depends = libpipewire02
	depends = libqalculate
	depends = libreoffice-fresh
	depends = libxml2
	depends = light
	depends = logrotate
	depends = lvm2
	depends = mako
	depends = man-db
	depends = man-pages
	depends = meson
	depends = mitmproxy
	depends = mpc
	depends = mpd
	depends = mpv
	depends = mtools
	depends = ncdu
	depends = networkmanager
	depends = ninja
	depends = nmap
	depends = ntfs-3g
	depends = oath-toolkit
	depends = openssh
	depends = otf-font-awesome
	depends = p7zip
	depends = pacman-contrib
	depends = pass
	depends = perl-authen-sasl
	depends = perl-net-smtp-ssl
	depends = perl-mime-tools
	depends = pipewire-media-session
	depends = pipewire-pulse
	depends = pulsemixer
	depends = pv
	depends = python-adblock
	depends = qutebrowser
	depends = remind
	depends = ripgrep
	depends = rsync
	depends = scdoc
	depends = sfeed
	depends = shellcheck-bin
	depends = slurp
	depends = s-nail
	depends = speedtest-cli
	depends = sudo
	depends = sway
	depends = swayidle
	depends = swaylock
	depends = syslinux
	depends = termshark
	depends = tmux
	depends = tmux-xpanes
	depends = translate-shell
	depends = tree
	depends = unrar
	depends = unzip
	depends = usbutils
	depends = vi
	depends = vim
	depends = vim-ale
	depends = vim-go
	depends = vim-goyo-git
	depends = vim-gutentags-git
	depends = vim-nerdcommenter
	depends = vim-oscyank-git
	depends = vim-repeat
	depends = vim-sayonara-git
	depends = vim-surround
	depends = vim-taboo-git
	depends = vim-tagbar
	depends = vim-tmux-navigator-git
	depends = vim-ultisnips
	depends = vim-undotree
	depends = w3m
	depends = weechat
	depends = weechat-vimode-git
	depends = weechat-wee-most-git
	depends = wf-recorder
	depends = wl-clipboard
	depends = xdg-desktop-portal-wlr
	depends = xdg-utils
	depends = xorg-xwayland
	depends = ydotool
	depends = yt-dlp
	depends = yubikey-manager
	depends = zathura
	depends = zathura-cb
	depends = zathura-pdf-mupdf
	depends = zip
	depends = zsh
	depends = zsh-autosuggestions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	depends = dotfiles-dark-git
