pkgbase = dotfiles-git
	pkgdesc = My dotfiles
	pkgver = r3743.2f2e3f82
	pkgrel = 1
	url = https://sr.ht/~tardypad/dotfiles/
	install = dotfiles-git.install
	arch = any
	groups = tardypad
	license = custom
	makedepends = curl
	makedepends = git
	makedepends = openssh
	makedepends = scdoc
	backup = home/damien/.config/weechat/sec.conf
	source = git+ssh://damien@tardypad.me:11235/~/repos/dotfiles#branch=master
	sha512sums = SKIP

pkgname = dotfiles-git
	depends = fontconfig
	depends = systemd
	depends = vim
