pkgbase = vim-taboo-git
	pkgdesc = A Vim plugin to manage tabs
	pkgver = r46.caf9481
	pkgrel = 2
	url = https://github.com/gcmt/taboo.vim
	arch = any
	groups = vim-plugins
	license = MIT
	makedepends = git
	source = git+https://github.com/gcmt/taboo.vim.git
	sha512sums = SKIP

pkgname = vim-taboo-git
	depends = vim-runtime
